<h1>Bienvenidos, por favor ingrese los datos requeridos</h1>
<div class="login-form">
    <form action="/login" method="post">
      <div class="form-control">
        <label for="text">Número de identificación</label>
        <input type="text" name="cc" id="cc" placeholder="Ingrese su identificación"  required />
      </div>
      <div class="form-control">
        <label for="date">Fecha de nacimiento</label>
        <input type="date" name="dateBorn" id="date" placeholder="mm/dd/yy"  required />
      </div>
      <div class="form-control">
        <button type="submit" class="btn">Login</button>
      </div>
    </form>
  </div>