<%- include("header.ejs") %> 
<a href="/" class="link">Regresar</a>
<p class="text">La fecha ingresada no debe ser superior a la actual</p>
<img src="/img/robot_error.jpg" alt="">
<%- include('footer.ejs') %>